.App {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  min-height: 100vh;
}

.App-dark {
  background: #000;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 10px 15px;
  height: 26px;
  z-index: 10;
  font-weight: lighter;
  font-size: 22px;
}

.App-header-dark a {
  color: #aaa;
}

.App-header-light a {
  color: #000;
}

.App-header a {
  display: block;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 5px 7px 5px;
}

.App-header button {
  font-size: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  background: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px;
}

.App-header button.active {
  border-bottom: 2px solid #fc0;
}

.App-header-dark button.active {
  border-bottom: 2px solid #860;
}

.App-header-dark button {
  color: #aaa;
  border-bottom: 2px solid #000;
}

.App-header-light {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
  border-bottom: 1px solid #f4f4f4;
}

.App-header-dark {
  background: #000;
  box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.05);
  border-bottom: 1px solid #222;
  color: #aaa;
}

.App-content {
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .App-content {
    flex-direction: column;
  }
}
