.App {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  min-height: 100vh;
}

.App-dark {
  background: #000;
}

.App-header {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 10px 15px;
  height: 30px;
  z-index: 10;
}

@media (max-width: 640px) {
  .App-header {
    padding: 10px 0;
  }
}

@media (max-width: 640px) {
  .App-header {
    height: 24px;
  }
}

.App-header-dark a {
  color: #aaa;
}

.App-header-light a {
  color: #000;
}

.App-header a {
  z-index: 10;
  display: block;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 5px 7px 5px;
}


.App-header-links {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .App-header-links {
    display: none;
  }
}

.App-header button {
  font-size: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  background: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 5px;
}

.App-header button.active {
  border-bottom: 2px solid #fc0;
}

.App-header-dark button.active {
  border-bottom: 2px solid #860;
}

.App-header-dark button {
  color: #aaa;
  border-bottom: 2px solid #000;
}

.App-header-light {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.04);
  border-bottom: 1px solid #f4f4f4;
}

.App-header-dark {
  background: #000;
  border-bottom: 1px solid #222;
  color: #aaa;
}

.App-content {
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media (max-width: 960px) {
  .App-content {
    flex-direction: column;
  }
}

.App-header-home {
  font-size: 22px;
  font-weight: lighter;
  margin: 0 10px;
}

.App-header-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 55px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 640px) {
  .App-header-menu {
    display: none;
  }

  .App-header-menu-toggle {
    display: none;
  }
}

.App-header-menu-light {
  background: #fff;
}

.App-header-menu-dark {
  background: #000;
}
